.section {
  color: purple;
}

#section-1 {
  background-color: purple;
}

.headers {
  color: darkblue;
}

#email {
  background-color: goldenrod;
}

#github {
  background-color: lightsteelblue
}

#portfolio {
  background-color: darkorange;
}
